# Netflix (NFLX) Financial Analysis

## Table of Contents <a id='back'></a>
- [Project Introduction](#project-introduction)
    - [Analysis Outline](#analysis-outline)
    - [Results](#results)
- [Importing Libraries and Opening Data Files](#importing-libraries-and-opening-data-files)
- [Pre-Processing Data](#pre-processing-data)
    - [Duplicates](#duplicates)
    - [Missing Values](#missing-values)
    - [Removing Irrelevant Data](#removing-irrelevant-data)
    - [Data Wrangling](#data-wrangling)
        - [Cleaning Headers](#cleaning-headers)
        - [Cleaning Column Elements](#cleaning-column-elements)
- [Exploratory Data Analysis](#exploratory-data-analysis)
- [Conclusions and Reccomendations](#conclusions-and-reccomendations)
- [Dataset Citation](#dataset-citation)

## Project Introduction

This project will be a vertical analysis of the Netflix's year over year financial data under ticker symbol NFLX. First, I will web scrape the public financial data from using the yfinance API. Then I will preprocess and clean the scraped public data and turn it into a structured data source to be ready for analysis. Lastly, I will analyze the financial stock data to calculate the financial KPIs for potential shareholders. 

##### Disclaimer: This is NOT financial advice in any form, and is strictly for educational purposes ONLY. 

### Analysis Outline

[Analysis Outline]

### Results

[Results]

[Back to Table of Contents](#back)

## Importing Libraries & Financial Data

In [1]:
# Importing the needed libraries for this assignment
import pandas as pd
import numpy as np
import yfinance as yf
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
# Scraping the financial data using yfinance by inputting ticker symbol
netflix_df = yf.Ticker('NFLX')

# Creating loop to display the data
for key, value in netflix_df.info.items():
    print(f'{key}: {value}')

address1: 121 Albright Way
city: Los Gatos
state: CA
zip: 95032
country: United States
phone: (408) 540-3700
website: https://www.netflix.com
industry: Entertainment
industryKey: entertainment
industryDisp: Entertainment
sector: Communication Services
sectorKey: communication-services
sectorDisp: Communication Services
longBusinessSummary: Netflix, Inc. provides entertainment services. The company offers television (TV) series, documentaries, feature films, and games across various genres and languages. It also provides members the ability to receive streaming content through a host of internet-connected devices, including TVs, digital video players, TV set-top boxes, and mobile devices. The company operates approximately in 190 countries. Netflix, Inc. was incorporated in 1997 and is headquartered in Los Gatos, California.
fullTimeEmployees: 14000
companyOfficers: [{'maxAge': 1, 'name': 'Mr. Wilmot Reed Hastings Jr.', 'age': 64, 'title': 'Co-Founder & Chairman', 'yearBorn': 1960, 'fiscalYear': 2024, 'totalPay': 502215, 'exercisedValue': 206021120, 'unexercisedValue': 1415606272}, {'maxAge': 1, 'name': 'Mr. Theodore A. Sarandos', 'age': 59, 'title': 'Co-CEO, President & Director', 'yearBorn': 1965, 'fiscalYear': 2024, 'totalPay': 16961458, 'exercisedValue': 32708016, 'unexercisedValue': 427340448}, {'maxAge': 1, 'name': 'Mr. Gregory K. Peters', 'age': 53, 'title': 'Co-CEO, President & Director', 'yearBorn': 1971, 'fiscalYear': 2024, 'totalPay': 15613091, 'exercisedValue': 26574712, 'unexercisedValue': 204458736}, {'maxAge': 1, 'name': 'Mr. Spencer Adam Neumann', 'age': 54, 'title': 'Chief Financial Officer', 'yearBorn': 1970, 'fiscalYear': 2024, 'totalPay': 7647331, 'exercisedValue': 0, 'unexercisedValue': 107027248}, {'maxAge': 1, 'name': 'Mr. David  Hyman J.D.', 'age': 58, 'title': 'Chief Legal Officer & Secretary', 'yearBorn': 1966, 'fiscalYear': 2024, 'totalPay': 7515647, 'exercisedValue': 38790456, 'unexercisedValue': 87438464}, {'maxAge': 1, 'name': 'Mr. Jeffrey William Karbowski', 'age': 45, 'title': 'Chief Accounting Officer & Principal Accounting Officer', 'yearBorn': 1979, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Elizabeth  Stone', 'title': 'Chief Technology Officer', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Spencer  Wang', 'title': 'Vice President of Finance, Corporate Development & Investor Relations', 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Marian  Lee', 'age': 44, 'title': 'Chief Marketing Officer', 'yearBorn': 1980, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Bela  Bajaria', 'age': 52, 'title': 'Chief Content Officer', 'yearBorn': 1972, 'fiscalYear': 2024, 'exercisedValue': 0, 'unexercisedValue': 0}]
auditRisk: 10
boardRisk: 9
compensationRisk: 7
shareHolderRightsRisk: 5
overallRisk: 8
governanceEpochDate: 1748736000
compensationAsOfEpochDate: 1735603200
executiveTeam: []
maxAge: 86400
priceHint: 2
previousClose: 1218.98
open: 1219.86
dayLow: 1211.2
dayHigh: 1229.57
regularMarketPreviousClose: 1218.98
regularMarketOpen: 1219.86
regularMarketDayLow: 1211.2
regularMarketDayHigh: 1229.57
payoutRatio: 0.0
beta: 1.589
trailingPE: 57.422913
forwardPE: 51.216984
volume: 2357658
regularMarketVolume: 2357658
averageVolume: 4924692
averageVolume10days: 2707720
averageDailyVolume10Day: 2707720
bid: 1216.95
ask: 1219.57
bidSize: 1
askSize: 1
marketCap: 518319931392
fiftyTwoWeekLow: 587.04
fiftyTwoWeekHigh: 1229.57
priceToSalesTrailing12Months: 12.902091
fiftyDayAverage: 1062.8606
twoHundredDayAverage: 894.76666
trailingAnnualDividendRate: 0.0
trailingAnnualDividendYield: 0.0
currency: USD
tradeable: False
enterpriseValue: 527951822848
profitMargins: 0.23074
floatShares: 422716198
sharesOutstanding: 425571008
sharesShort: 8138708
sharesShortPriorMonth: 8054327
sharesShortPreviousMonthDate: 1744675200
dateShortInterest: 1747267200
sharesPercentSharesOut: 0.0191
heldPercentInsiders: 0.0055400003
heldPercentInstitutions: 0.86636
shortRatio: 1.54
shortPercentOfFloat: 0.019199999
impliedSharesOutstanding: 434080000
bookValue: 56.446
priceToBook: 21.577082
lastFiscalYearEnd: 1735603200
nextFiscalYearEnd: 1767139200
mostRecentQuarter: 1743379200
earningsQuarterlyGrowth: 0.239
netIncomeToCommon: 9269773312
trailingEps: 21.21
forwardEps: 23.78
lastSplitFactor: 7:1
lastSplitDate: 1436918400
enterpriseToRevenue: 13.142
enterpriseToEbitda: 46.094
52WeekChange: 0.9299263
SandP52WeekChange: 0.12182164
quoteType: EQUITY
currentPrice: 1217.94
targetHighPrice: 1514.0
targetLowPrice: 720.0
targetMeanPrice: 1140.9526
targetMedianPrice: 1150.0
recommendationMean: 1.86
recommendationKey: buy
numberOfAnalystOpinions: 45
totalCash: 8370990080
totalCashPerShare: 19.665
ebitda: 11453826048
totalDebt: 17423486976
quickRatio: 1.01
currentRatio: 1.204
totalRevenue: 40173326336
debtToEquity: 72.513
revenuePerShare: 93.794
returnOnAssets: 0.13789
returnOnEquity: 0.40842
grossProfits: 18848788480
freeCashflow: 21784893440
operatingCashflow: 7938040832
earningsGrowth: 0.252
revenueGrowth: 0.125
grossMargins: 0.46919
ebitdaMargins: 0.28511
operatingMargins: 0.31746998
financialCurrency: USD
symbol: NFLX
language: en-US
region: US
typeDisp: Equity
quoteSourceName: Nasdaq Real Time Price
triggerable: True
customPriceAlertConfidence: HIGH
marketState: POST
shortName: Netflix, Inc.
hasPrePostMarketData: True
firstTradeDateMilliseconds: 1022160600000
postMarketChangePercent: 0.019303696
postMarketPrice: 1218.175
postMarketChange: 0.23510742
regularMarketChange: -1.04004
regularMarketDayRange: 1211.2 - 1229.57
fullExchangeName: NasdaqGS
averageDailyVolume3Month: 4924692
fiftyTwoWeekLowChange: 630.89996
fiftyTwoWeekLowChangePercent: 1.0747138
fiftyTwoWeekRange: 587.04 - 1229.57
fiftyTwoWeekHighChange: -11.630005
fiftyTwoWeekHighChangePercent: -0.009458596
fiftyTwoWeekChangePercent: 92.99263
longName: Netflix, Inc.
regularMarketChangePercent: -0.0853204
regularMarketPrice: 1217.94
earningsTimestamp: 1744920000
earningsTimestampStart: 1752696000
earningsTimestampEnd: 1753128000
earningsCallTimestampStart: 1744922700
earningsCallTimestampEnd: 1744922700
isEarningsDateEstimate: True
epsTrailingTwelveMonths: 21.21
epsForward: 23.78
epsCurrentYear: 25.63424
priceEpsCurrentYear: 47.512234
fiftyDayAverageChange: 155.07935
fiftyDayAverageChangePercent: 0.1459075
twoHundredDayAverageChange: 323.17328
twoHundredDayAverageChangePercent: 0.36118162
sourceInterval: 15
exchangeDataDelayedBy: 0
prevName: VIVEK
nameChangeDate: 2025-05-29
averageAnalystRating: 1.9 - Buy
cryptoTradeable: False
corporateActions: []
postMarketTime: 1748986977
regularMarketTime: 1748980801
exchange: NMS
messageBoardId: finmb_32012
exchangeTimezoneName: America/New_York
exchangeTimezoneShortName: EDT
gmtOffSetMilliseconds: -14400000
market: us_market
esgPopulated: False
displayName: Netflix
trailingPegRatio: 2.171

In [7]:
income_statement = netflix_df.income_stmt
income_statement.info()
income_statement.head()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, Tax Effect Of Unusual Items to Operating Revenue
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   2024-12-31 00:00:00  40 non-null     object
 1   2023-12-31 00:00:00  38 non-null     object
 2   2022-12-31 00:00:00  40 non-null     object
 3   2021-12-31 00:00:00  40 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB

,2024-12-31,2023-12-31,2022-12-31,2021-12-31
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0
Tax Rate For Calcs,0.13,0.13,0.15,0.12
Normalized EBITDA,26314821000.0,21508387000.0,20332955000.0,19044502000.0
Net Income From Continuing Operation Net Minority Interest,8711631000.0,5407990000.0,4491924000.0,5116228000.0
Reconciled Depreciation,15630431000.0,14554384000.0,14362814000.0,12438779000.0

In [8]:
income_statement = income_statement.T
income_statement.info()
income_statement.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2024-12-31 to 2021-12-31
Data columns (total 40 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Tax Effect Of Unusual Items                                 4 non-null      object
 1   Tax Rate For Calcs                                          4 non-null      object
 2   Normalized EBITDA                                           4 non-null      object
 3   Net Income From Continuing Operation Net Minority Interest  4 non-null      object
 4   Reconciled Depreciation                                     4 non-null      object
 5   Reconciled Cost Of Revenue                                  4 non-null      object
 6   EBITDA                                                      4 non-null      object
 7   EBIT                                                        4 non-null      object
 8   Net Interest Income                                         4 non-null      object
 9   Interest Expense                                            4 non-null      object
 10  Interest Income                                             3 non-null      object
 11  Normalized Income                                           4 non-null      object
 12  Net Income From Continuing And Discontinued Operation       4 non-null      object
 13  Total Expenses                                              4 non-null      object
 14  Total Operating Income As Reported                          4 non-null      object
 15  Diluted Average Shares                                      4 non-null      object
 16  Basic Average Shares                                        4 non-null      object
 17  Diluted EPS                                                 4 non-null      object
 18  Basic EPS                                                   4 non-null      object
 19  Diluted NI Availto Com Stockholders                         4 non-null      object
 20  Net Income Common Stockholders                              4 non-null      object
 21  Net Income                                                  4 non-null      object
 22  Net Income Including Noncontrolling Interests               4 non-null      object
 23  Net Income Continuous Operations                            4 non-null      object
 24  Tax Provision                                               4 non-null      object
 25  Pretax Income                                               4 non-null      object
 26  Net Non Operating Interest Income Expense                   4 non-null      object
 27  Interest Expense Non Operating                              4 non-null      object
 28  Interest Income Non Operating                               3 non-null      object
 29  Operating Income                                            4 non-null      object
 30  Operating Expense                                           4 non-null      object
 31  Research And Development                                    4 non-null      object
 32  Selling General And Administration                          4 non-null      object
 33  Selling And Marketing Expense                               4 non-null      object
 34  General And Administrative Expense                          4 non-null      object
 35  Other Gand A                                                4 non-null      object
 36  Gross Profit                                                4 non-null      object
 37  Cost Of Revenue                                             4 non-null      object
 38  Total Revenue                                               4 non-null      object
 39  Operating Revenue                                           4 non-null      object
dtypes: object(40)
memory usage: 1.4+ KB

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,Interest Expense,...,Operating Expense,Research And Development,Selling General And Administration,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
2024-12-31,0.0,0.13,26314821000.0,8711631000.0,15630431000.0,21038464000.0,26314821000.0,10684390000.0,-451957000.0,718733000.0,...,7544888000.0,2925295000.0,4619593000.0,2917554000.0,1702039000.0,1702039000.0,17962502000.0,21038464000.0,39000966000.0,39000966000.0
2023-12-31,0.0,0.13,21508387000.0,5407990000.0,14554384000.0,19715368000.0,21508387000.0,6954003000.0,-748598000.0,748598000.0,...,7053926000.0,2675758000.0,4378168000.0,2657883000.0,1720285000.0,1720285000.0,14007929000.0,19715368000.0,33723297000.0,33723297000.0
2022-12-31,0.0,0.15,20332955000.0,4491924000.0,14362814000.0,19168285000.0,20332955000.0,5970141000.0,-368902000.0,706212000.0,...,6814434000.0,2711041000.0,4103393000.0,2530502000.0,1572891000.0,1572891000.0,12447265000.0,19168285000.0,31615550000.0,31615550000.0
2021-12-31,0.0,0.12,19044502000.0,5116228000.0,12438779000.0,17332683000.0,19044502000.0,6605723000.0,-354406000.0,765620000.0,...,6170652000.0,2273885000.0,3896767000.0,2545146000.0,1351621000.0,1351621000.0,12365161000.0,17332683000.0,29697844000.0,29697844000.0

Profitability KPIs, such as gross profit margin and net profit margin.

Liquidity KPIs, such as current ratio and quick ratio.

Efficiency KPIs, such as inventory turnover and accounts receivable turnover.

Valuation KPIs, such as earnings per share and price to earnings ratio.

Leverage KPIs, such as debt to equity and return on equity.

[Back to Table of Contents](#back)

## Pre-Processing Data

In [21]:
pd.set_option('display.max_columns', None)
income_statement.info()
income_statement.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2024-12-31 to 2021-12-31
Data columns (total 40 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Tax Effect Of Unusual Items                                 4 non-null      object
 1   Tax Rate For Calcs                                          4 non-null      object
 2   Normalized EBITDA                                           4 non-null      object
 3   Net Income From Continuing Operation Net Minority Interest  4 non-null      object
 4   Reconciled Depreciation                                     4 non-null      object
 5   Reconciled Cost Of Revenue                                  4 non-null      object
 6   EBITDA                                                      4 non-null      object
 7   EBIT                                                        4 non-null      object
 8   Net Interest Income                                         4 non-null      object
 9   Interest Expense                                            4 non-null      object
 10  Interest Income                                             3 non-null      object
 11  Normalized Income                                           4 non-null      object
 12  Net Income From Continuing And Discontinued Operation       4 non-null      object
 13  Total Expenses                                              4 non-null      object
 14  Total Operating Income As Reported                          4 non-null      object
 15  Diluted Average Shares                                      4 non-null      object
 16  Basic Average Shares                                        4 non-null      object
 17  Diluted EPS                                                 4 non-null      object
 18  Basic EPS                                                   4 non-null      object
 19  Diluted NI Availto Com Stockholders                         4 non-null      object
 20  Net Income Common Stockholders                              4 non-null      object
 21  Net Income                                                  4 non-null      object
 22  Net Income Including Noncontrolling Interests               4 non-null      object
 23  Net Income Continuous Operations                            4 non-null      object
 24  Tax Provision                                               4 non-null      object
 25  Pretax Income                                               4 non-null      object
 26  Net Non Operating Interest Income Expense                   4 non-null      object
 27  Interest Expense Non Operating                              4 non-null      object
 28  Interest Income Non Operating                               3 non-null      object
 29  Operating Income                                            4 non-null      object
 30  Operating Expense                                           4 non-null      object
 31  Research And Development                                    4 non-null      object
 32  Selling General And Administration                          4 non-null      object
 33  Selling And Marketing Expense                               4 non-null      object
 34  General And Administrative Expense                          4 non-null      object
 35  Other Gand A                                                4 non-null      object
 36  Gross Profit                                                4 non-null      object
 37  Cost Of Revenue                                             4 non-null      object
 38  Total Revenue                                               4 non-null      object
 39  Operating Revenue                                           4 non-null      object
dtypes: object(40)
memory usage: 1.4+ KB

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,Interest Expense,Interest Income,Normalized Income,Net Income From Continuing And Discontinued Operation,Total Expenses,Total Operating Income As Reported,Diluted Average Shares,Basic Average Shares,Diluted EPS,Basic EPS,Diluted NI Availto Com Stockholders,Net Income Common Stockholders,Net Income,Net Income Including Noncontrolling Interests,Net Income Continuous Operations,Tax Provision,Pretax Income,Net Non Operating Interest Income Expense,Interest Expense Non Operating,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
2024-12-31,0.0,0.13,26314821000.0,8711631000.0,15630431000.0,21038464000.0,26314821000.0,10684390000.0,-451957000.0,718733000.0,266776000.0,8711631000.0,8711631000.0,28583352000.0,10417614000.0,439261000.0,429519000.0,19.83,20.28,8711631000.0,8711631000.0,8711631000.0,8711631000.0,8711631000.0,1254026000.0,9965657000.0,-451957000.0,718733000.0,266776000.0,10417614000.0,7544888000.0,2925295000.0,4619593000.0,2917554000.0,1702039000.0,1702039000.0,17962502000.0,21038464000.0,39000966000.0,39000966000.0
2023-12-31,0.0,0.13,21508387000.0,5407990000.0,14554384000.0,19715368000.0,21508387000.0,6954003000.0,-748598000.0,748598000.0,NaN,5407990000.0,5407990000.0,26769294000.0,6954003000.0,449498000.0,441571000.0,12.03,12.25,5407990000.0,5407990000.0,5407990000.0,5407990000.0,5407990000.0,797415000.0,6205405000.0,-748598000.0,748598000.0,NaN,6954003000.0,7053926000.0,2675758000.0,4378168000.0,2657883000.0,1720285000.0,1720285000.0,14007929000.0,19715368000.0,33723297000.0,33723297000.0
2022-12-31,0.0,0.15,20332955000.0,4491924000.0,14362814000.0,19168285000.0,20332955000.0,5970141000.0,-368902000.0,706212000.0,337310000.0,4491924000.0,4491924000.0,25982719000.0,5632831000.0,451290000.0,444698000.0,9.95,10.1,4491924000.0,4491924000.0,4491924000.0,4491924000.0,4491924000.0,772005000.0,5263929000.0,-368902000.0,706212000.0,337310000.0,5632831000.0,6814434000.0,2711041000.0,4103393000.0,2530502000.0,1572891000.0,1572891000.0,12447265000.0,19168285000.0,31615550000.0,31615550000.0
2021-12-31,0.0,0.12,19044502000.0,5116228000.0,12438779000.0,17332683000.0,19044502000.0,6605723000.0,-354406000.0,765620000.0,411214000.0,5116228000.0,5116228000.0,23503335000.0,6194509000.0,455372000.0,443155000.0,11.24,11.55,5116228000.0,5116228000.0,5116228000.0,5116228000.0,5116228000.0,723875000.0,5840103000.0,-354406000.0,765620000.0,411214000.0,6194509000.0,6170652000.0,2273885000.0,3896767000.0,2545146000.0,1351621000.0,1351621000.0,12365161000.0,17332683000.0,29697844000.0,29697844000.0

### Duplicates

In [10]:
# Checking for duplicates
income_statement.duplicated().sum()

0

[Back to Table of Contents](#back)

### Missing Values

In [11]:
# Checking for null values
income_statement.isna().sum()

Tax Effect Of Unusual Items                                   0
Tax Rate For Calcs                                            0
Normalized EBITDA                                             0
Net Income From Continuing Operation Net Minority Interest    0
Reconciled Depreciation                                       0
Reconciled Cost Of Revenue                                    0
EBITDA                                                        0
EBIT                                                          0
Net Interest Income                                           0
Interest Expense                                              0
Interest Income                                               1
Normalized Income                                             0
Net Income From Continuing And Discontinued Operation         0
Total Expenses                                                0
Total Operating Income As Reported                            0
Diluted Average Shares                                        0
Basic Average Shares                                          0
Diluted EPS                                                   0
Basic EPS                                                     0
Diluted NI Availto Com Stockholders                           0
Net Income Common Stockholders                                0
Net Income                                                    0
Net Income Including Noncontrolling Interests                 0
Net Income Continuous Operations                              0
Tax Provision                                                 0
Pretax Income                                                 0
Net Non Operating Interest Income Expense                     0
Interest Expense Non Operating                                0
Interest Income Non Operating                                 1
Operating Income                                              0
Operating Expense                                             0
Research And Development                                      0
Selling General And Administration                            0
Selling And Marketing Expense                                 0
General And Administrative Expense                            0
Other Gand A                                                  0
Gross Profit                                                  0
Cost Of Revenue                                               0
Total Revenue                                                 0
Operating Revenue                                             0
dtype: int64

In [23]:
print(income_statement['Interest Income'])
print(income_statement['Interest Income Non Operating'])

2024-12-31    266776000.0
2023-12-31              0
2022-12-31    337310000.0
2021-12-31    411214000.0
Name: Interest Income, dtype: object
2024-12-31    266776000.0
2023-12-31              0
2022-12-31    337310000.0
2021-12-31    411214000.0
Name: Interest Income Non Operating, dtype: object

In [24]:
# Filling in null values from specified columns
columns_to_replace = ['Interest Income', 'Interest Income Non Operating']

for column in columns_to_replace: 
    income_statement[column] = income_statement[column].fillna('0')

# Checking for null values
income_statement.isna().sum()

Tax Effect Of Unusual Items                                   0
Tax Rate For Calcs                                            0
Normalized EBITDA                                             0
Net Income From Continuing Operation Net Minority Interest    0
Reconciled Depreciation                                       0
Reconciled Cost Of Revenue                                    0
EBITDA                                                        0
EBIT                                                          0
Net Interest Income                                           0
Interest Expense                                              0
Interest Income                                               0
Normalized Income                                             0
Net Income From Continuing And Discontinued Operation         0
Total Expenses                                                0
Total Operating Income As Reported                            0
Diluted Average Shares                                        0
Basic Average Shares                                          0
Diluted EPS                                                   0
Basic EPS                                                     0
Diluted NI Availto Com Stockholders                           0
Net Income Common Stockholders                                0
Net Income                                                    0
Net Income Including Noncontrolling Interests                 0
Net Income Continuous Operations                              0
Tax Provision                                                 0
Pretax Income                                                 0
Net Non Operating Interest Income Expense                     0
Interest Expense Non Operating                                0
Interest Income Non Operating                                 0
Operating Income                                              0
Operating Expense                                             0
Research And Development                                      0
Selling General And Administration                            0
Selling And Marketing Expense                                 0
General And Administrative Expense                            0
Other Gand A                                                  0
Gross Profit                                                  0
Cost Of Revenue                                               0
Total Revenue                                                 0
Operating Revenue                                             0
dtype: int64

[Back to Table of Contents](#back)

### Removing Irrelevant Data

In [ ]:
# Removing columns we do not need for this analysis
# df = df.drop(columns=['unnamed_0.01', 'unnamed_0'])
# df.info()

[Back to Table of Contents](#back)

### Data Wrangling

#### Cleaning Headers

In [25]:
# Getting general information about the dataset
income_statement.info()
income_statement.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4 entries, 2024-12-31 to 2021-12-31
Data columns (total 40 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Tax Effect Of Unusual Items                                 4 non-null      object
 1   Tax Rate For Calcs                                          4 non-null      object
 2   Normalized EBITDA                                           4 non-null      object
 3   Net Income From Continuing Operation Net Minority Interest  4 non-null      object
 4   Reconciled Depreciation                                     4 non-null      object
 5   Reconciled Cost Of Revenue                                  4 non-null      object
 6   EBITDA                                                      4 non-null      object
 7   EBIT                                                        4 non-null      object
 8   Net Interest Income                                         4 non-null      object
 9   Interest Expense                                            4 non-null      object
 10  Interest Income                                             4 non-null      object
 11  Normalized Income                                           4 non-null      object
 12  Net Income From Continuing And Discontinued Operation       4 non-null      object
 13  Total Expenses                                              4 non-null      object
 14  Total Operating Income As Reported                          4 non-null      object
 15  Diluted Average Shares                                      4 non-null      object
 16  Basic Average Shares                                        4 non-null      object
 17  Diluted EPS                                                 4 non-null      object
 18  Basic EPS                                                   4 non-null      object
 19  Diluted NI Availto Com Stockholders                         4 non-null      object
 20  Net Income Common Stockholders                              4 non-null      object
 21  Net Income                                                  4 non-null      object
 22  Net Income Including Noncontrolling Interests               4 non-null      object
 23  Net Income Continuous Operations                            4 non-null      object
 24  Tax Provision                                               4 non-null      object
 25  Pretax Income                                               4 non-null      object
 26  Net Non Operating Interest Income Expense                   4 non-null      object
 27  Interest Expense Non Operating                              4 non-null      object
 28  Interest Income Non Operating                               4 non-null      object
 29  Operating Income                                            4 non-null      object
 30  Operating Expense                                           4 non-null      object
 31  Research And Development                                    4 non-null      object
 32  Selling General And Administration                          4 non-null      object
 33  Selling And Marketing Expense                               4 non-null      object
 34  General And Administrative Expense                          4 non-null      object
 35  Other Gand A                                                4 non-null      object
 36  Gross Profit                                                4 non-null      object
 37  Cost Of Revenue                                             4 non-null      object
 38  Total Revenue                                               4 non-null      object
 39  Operating Revenue                                           4 non-null      object
dtypes: object(40)
memory usage: 1.4+ KB

,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,EBITDA,EBIT,Net Interest Income,Interest Expense,Interest Income,Normalized Income,Net Income From Continuing And Discontinued Operation,Total Expenses,Total Operating Income As Reported,Diluted Average Shares,Basic Average Shares,Diluted EPS,Basic EPS,Diluted NI Availto Com Stockholders,Net Income Common Stockholders,Net Income,Net Income Including Noncontrolling Interests,Net Income Continuous Operations,Tax Provision,Pretax Income,Net Non Operating Interest Income Expense,Interest Expense Non Operating,Interest Income Non Operating,Operating Income,Operating Expense,Research And Development,Selling General And Administration,Selling And Marketing Expense,General And Administrative Expense,Other Gand A,Gross Profit,Cost Of Revenue,Total Revenue,Operating Revenue
2024-12-31,0.0,0.13,26314821000.0,8711631000.0,15630431000.0,21038464000.0,26314821000.0,10684390000.0,-451957000.0,718733000.0,266776000.0,8711631000.0,8711631000.0,28583352000.0,10417614000.0,439261000.0,429519000.0,19.83,20.28,8711631000.0,8711631000.0,8711631000.0,8711631000.0,8711631000.0,1254026000.0,9965657000.0,-451957000.0,718733000.0,266776000.0,10417614000.0,7544888000.0,2925295000.0,4619593000.0,2917554000.0,1702039000.0,1702039000.0,17962502000.0,21038464000.0,39000966000.0,39000966000.0
2023-12-31,0.0,0.13,21508387000.0,5407990000.0,14554384000.0,19715368000.0,21508387000.0,6954003000.0,-748598000.0,748598000.0,0,5407990000.0,5407990000.0,26769294000.0,6954003000.0,449498000.0,441571000.0,12.03,12.25,5407990000.0,5407990000.0,5407990000.0,5407990000.0,5407990000.0,797415000.0,6205405000.0,-748598000.0,748598000.0,0,6954003000.0,7053926000.0,2675758000.0,4378168000.0,2657883000.0,1720285000.0,1720285000.0,14007929000.0,19715368000.0,33723297000.0,33723297000.0
2022-12-31,0.0,0.15,20332955000.0,4491924000.0,14362814000.0,19168285000.0,20332955000.0,5970141000.0,-368902000.0,706212000.0,337310000.0,4491924000.0,4491924000.0,25982719000.0,5632831000.0,451290000.0,444698000.0,9.95,10.1,4491924000.0,4491924000.0,4491924000.0,4491924000.0,4491924000.0,772005000.0,5263929000.0,-368902000.0,706212000.0,337310000.0,5632831000.0,6814434000.0,2711041000.0,4103393000.0,2530502000.0,1572891000.0,1572891000.0,12447265000.0,19168285000.0,31615550000.0,31615550000.0
2021-12-31,0.0,0.12,19044502000.0,5116228000.0,12438779000.0,17332683000.0,19044502000.0,6605723000.0,-354406000.0,765620000.0,411214000.0,5116228000.0,5116228000.0,23503335000.0,6194509000.0,455372000.0,443155000.0,11.24,11.55,5116228000.0,5116228000.0,5116228000.0,5116228000.0,5116228000.0,723875000.0,5840103000.0,-354406000.0,765620000.0,411214000.0,6194509000.0,6170652000.0,2273885000.0,3896767000.0,2545146000.0,1351621000.0,1351621000.0,12365161000.0,17332683000.0,29697844000.0,29697844000.0

In [26]:
#checking for snakecase format
income_statement.columns

Index(['Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Selling And Marketing Expense',
       'General And Administrative Expense', 'Other Gand A', 'Gross Profit',
       'Cost Of Revenue', 'Total Revenue', 'Operating Revenue'],
      dtype='object')

In [27]:
# Renaming column names to snake_case format
income_statement = income_statement.rename(columns={'Customer ID': 'uid'})
income_statement.columns

Index(['Tax Effect Of Unusual Items', 'Tax Rate For Calcs',
       'Normalized EBITDA',
       'Net Income From Continuing Operation Net Minority Interest',
       'Reconciled Depreciation', 'Reconciled Cost Of Revenue', 'EBITDA',
       'EBIT', 'Net Interest Income', 'Interest Expense', 'Interest Income',
       'Normalized Income',
       'Net Income From Continuing And Discontinued Operation',
       'Total Expenses', 'Total Operating Income As Reported',
       'Diluted Average Shares', 'Basic Average Shares', 'Diluted EPS',
       'Basic EPS', 'Diluted NI Availto Com Stockholders',
       'Net Income Common Stockholders', 'Net Income',
       'Net Income Including Noncontrolling Interests',
       'Net Income Continuous Operations', 'Tax Provision', 'Pretax Income',
       'Net Non Operating Interest Income Expense',
       'Interest Expense Non Operating', 'Interest Income Non Operating',
       'Operating Income', 'Operating Expense', 'Research And Development',
       'Selling General And Administration', 'Selling And Marketing Expense',
       'General And Administrative Expense', 'Other Gand A', 'Gross Profit',
       'Cost Of Revenue', 'Total Revenue', 'Operating Revenue'],
      dtype='object')

[Back to Table of Contents](#back)

#### Cleaning Column Elements

In [ ]:
# Converting all elements into snakecase format and removing all nonlegible characters
for column in df.columns:
  df[column] = df[column].str.lower()
  df[column] = df[column].str.strip()
  df[column] = df[column].str.rstrip()
  df[column] = df[column].str.replace(' ', '_')
  df[column] = df[column].str.replace('[^a-z0-9_]', '')

# or 

def clean_col(col):
    col = col.lower()
    col = col.strip()
    col = col.rstrip()
    col = col.replace(' ', '_')
    col = col.replace('[^a-zA-Z0-9_]', '')
    return col

df.head(5)

In [ ]:
df.to_csv('cleaned_data.csv', index=False)

[Back to Table of Contents](#back)

## Exploratory Data Analysis

Observation:

-

[Back to Table of Contents](#back)

## Conclusions and Reccomendations

[Back to Table of Contents](#back)

## Dataset Citation

syntax:
[Dataset creator's name]. ([Year &amp; Month of dataset creation]). [Name of the dataset], [Version of the dataset]. Retrieved [Date Retrieved] from [Kaggle](URL of the dataset).

example:
Tatman, R. (2017, November). R vs. Python: The Kitchen Gadget Test, Version 1. Retrieved December 20, 2017 from https://www.kaggle.com/rtatman/r-vs-python-the-kitchen-gadget-test.

[Back to Table of Contents](#back)